<div class="row">
	<div class="col-sm-3" ng-repeat="item in CartItems">
		<h2>{{item.name}}</h2>
		<div class="itemWrap" ng-class="{active: $index == activeItemIndex}" ng-click="changeItem($index)">
			<div class="imageWrap">
				<img ng-src="{{item.image}}" alt="{{item.name}}">
			</div>
			<div class="detailsWrap">
				<span>&pound;{{item.price}}</span>
			</div>
		</div>
	</div>
</div>
<div class="row deliveries">
	<div class="col-sm-6 col-sm-offset-3">
		deliveries: {{deliveries}}
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		<slider floor="1" ceiling="10" step="1" precision="1" ng-model="deliveries"></slider>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 totalPrice">
		<span>Total Price</span>
		<h3>&pound;{{totalPrice}}</h3>
	</div>
</div>