/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.itemWrap {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.itemWrap .imageWrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  height: auto;
}
.itemWrap .imageWrap img {
  width: 100%;
  height: auto;
}
.itemWrap .detailsWrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
  bottom: 20px;
  opacity: 0;
  text-align: center;
  width: 100%;
}
.itemWrap .detailsWrap span {
  color: #333;
  font-size: 24px;
}
.itemWrap:hover .detailsWrap {
  opacity: 1;
}
.itemWrap:hover .imageWrap {
  opacity: .2;
}
.itemWrap.active {
  border: 3px red solid;
}
.deliveries {
  margin-top: 30px;
}
.totalPrice {
  text-align: center;
}
.totalPrice h3 {
  margin-top: 5px;
  font-weight: bold;
}
