@import "elements.less";

.itemWrap{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	.imageWrap{
		.transition(.3s);
		width: 100%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	.detailsWrap{
		.transition(.3s);
		position: absolute;
		left:0;
		bottom:20px;
		opacity: 0;
		text-align: center;
		width: 100%;
		span{
			color:#333;
			font-size: 24px;
		}
	}
	&:hover{
		.detailsWrap{
			opacity: 1;
		}
		.imageWrap{
			opacity: .2;
		}
	}
	&.active{
		border: 3px red solid;
	}
}
.deliveries{
	margin-top: 30px;
}
.totalPrice{
	text-align: center;
	h3{
		margin-top: 5px;
		font-weight: bold;
	}
}